@using System;
@using Sandbox;
@using Sandbox.UI;

@inherits Roleplay.Engine.UI.NavHostPanel;
@attribute [StyleSheet]

<root @ref=BusinessPanelRoot>
	@if (IsInBusiness)
	{
		<div class="navigator-canvas" slot="navigator-canvas" />
	}
	else
	{
		<span>You are not in organisation</span>
	}
</root>


@code
{
	public Panel BusinessPanelRoot { get; set; }

	public bool IsInBusiness = false; 

	public BusinessPanel()
	{
		DefaultUrl = "/";

		// Panel for seing business information or message
		AddDestination("/", typeof(BusinessPanelHomePage));
		// AddDestination("/", typeof(BusinessPanelMembersPage));

		
	}
}