@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using Sandbox.UI;
@using Sandbox;
@using Roleplay.Systems;

@attribute [StyleSheet]
@inherits Sandbox.UI.NavHostPanel
@namespace Roleplay.UI

<root>
    <div class="buttonContainerWrapper">
        <div class="buttonContainer">
            <button onclick="@(() => Navigate("/create"))"><h1>Create Business</h1></button>
            <button onclick="@(() => Navigate("/list"))"><h1>List of All Business</h1></button>
        </div>
    </div>
    <div class="navigator-canvas" slot="navigator-canvas"></div>
</root>

@code {
    public bool enable = false;

    public BusinessManagerPanel()
    {
        DefaultUrl = "/";

        AddDestination("/create", typeof(BusinessManagerCreatePanel));
        AddDestination("/list", typeof(BusinessManagerListPanel));

        Event.Register(this);
    }

    public override void Tick()
    {
        base.Tick();

        if (enable)
        {
            Parent.SetClass("openBusinessManager", true);
            SetClass("hidden", false);
        }
        else
        {
            Parent.SetClass("openBusinessManager", false);
            SetClass("hidden", true);
        }

        if (Input.Pressed("business"))
        {
            enable = !enable;
        }
    }
}