.business-jobs-admin-navbar {
    padding: 10px 20px;
    border-top: 1px solid rgb(0, 0, 0, 0.4);

    button {
        padding: 10px;
        color: white;
        background-color: rgb(0,0,0, 0.5);
    }

    button:hover {
        cursor: pointer;
    }
}

