@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using Sandbox.UI;
@using System.Threading.Tasks;

@attribute [StyleSheet]
@namespace Roleplay.UI

<root>
    <div class="container">

    </div>
</root>

@code {

}
