@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using Sandbox.UI;
@using Sandbox;
@using Roleplay.Models;
@using Roleplay.Systems;

@attribute [StyleSheet]
@namespace Roleplay.UI

<root>
    <div class="tasks-bar-header">Tasks</div>
    <div class="tasks-bar-body">    
        @if (Tasks.Count > 0)
        {
        @foreach (Models.Task task in Tasks)
        {
            <div class="tasks-item">
                <div class="tasks-item-desc">@task.Action.Name @task.Action.TypeName</div>
                <div class="tasks-item-count">@task.CurrentActionCount / @task.TriggerActionCount</div>
            </div>
            }
        }
        else
        {
            <div class="message">Vous avez pas de job donc pas de tâches.</div>
        }
    </div>
</root>

@code {

    public List<Models.Task> Tasks => Database.Current.GetPersonBySteamId(Game.LocalClient.SteamId).ListLinkedBy<Job>().ListLinkedTo<Models.Task>();

    public override void Tick()
    {
        base.Tick();
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Tasks, Database.Current.GetPersonBySteamId(Game.LocalClient.SteamId).ListLinkedBy<Job>());
    }
}