@using System;
@using Sandbox;
@using Sandbox.UI;
@using Roleplay.Business;

@attribute [StyleSheet]
<root @ref=BusinessPanelHomePageRoot style="">
	<button>Test 222222</button>
</root>


@code
{
	public Panel BusinessPanelHomePageRoot { get; set; }

	public BusinessPanelHomePage()
	{
	}
}