BusinessIdJobsPanel {
    .subpage-content {
    
        .list-item {
            padding: 0px;
            justify-content: center;
            display: flex;
            flex-direction: row;

            .list-item-job-count {
                align-items: center;
                padding: 0px 10px;
            }

            div:first-child {
                flex: 1;
                padding: 15px;
            }
        }
    }
}

.jobs-panel-button {
    padding: 5px 50px;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: bold;
    align-items: center;
}